{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="">INVOICE LIST</h4>
    <h4 class="">
        <a class="btn btn-sm btn-outline-success" href="{% url 'inv_list' %}" role="button">
        <span data-feather="list" style="color: green; width: 20px; height: 20px;"></span>
            ALL INVOICES
        </a>
        <a class="btn btn-sm btn-outline-success" href="{% url 'inv_details' %}" role="button">
        <span data-feather="check-circle" style="color: green; width: 20px; height: 20px;"></span>
            VALIDATE INVOICE
        </a>
    </h4>
</div>

{% if invoices|length > 0 %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>FDN</th>
                <th>CLEINT</th>
                <th>DATE</th>
                <th>INV NO.</th>
                <th>CURRENCY</th>
                <th>NET</th>
                <th>TAXES</th>
                <th>GROSS</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in cleaned_inv %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>
                    <a href="{% url 'invoices_doc' invoice.slug %}" style="text-decoration: none;">{{ invoice.fdn }}</a>
                </td>
                <td class="text-wrap" style="width: 12rem;">{{ invoice.buyerName }}</td>
                <td>{{ invoice.date|date:"M d, Y" }}</td>
                <td>{{ invoice.invoice_number }}</td>
                <td>{{ invoice.currency }}</td>
                <td>{{ invoice.net|floatformat:1|intcomma }}</td>
                <td>{{ invoice.tax|floatformat:1|intcomma }}</td>
                <td>{{ invoice.gross|floatformat:1|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <h3>Start by Adding First Invoice</h3>
        <img class=img-fluid src="{% static 'assets/img/empty.svg' %}" alt="EFRISER">
    </div>
    <div class="col-lg-3">

    </div>
</div>
{% endif %}
{% endblock %}