{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="">CREDIT NOTES</h4>
    <h4 class="">
        <a class="btn btn-sm btn-outline-success" href="{% url 'cn_list' %}" role="button">CREDIT NOTE LIST</a>
    </h4>
</div>

<!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

{% if credits %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Client name</th>
                <th>Due Date</th>
                <th>Reference</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>

            {% for cred in credits %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ cred.invoice.client  }}</td>
                <td>{{ cred.date_created }}</td>
                <td>{{ cred.reference }}</td>
                <td>{{ cred.reason }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <h3>Start by Adding First Invoice</h3>
        <img class=img-fluid src="{% static 'assets/img/empty.svg' %}" alt="EFRISER">
    </div>
    <div class="col-lg-3">
    </div>
</div>
{% endif %}
{% endblock %}