{% extends 'partials/base.html' %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Create an Invoice</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="#"><button type="button" class="btn btn-primary">Go Back</button></a>
      </div>
    </div>
  </div>
    <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        BDO Online Invoice Generator
      </div>

      <div class="card-body">

        <div class="row">
          <div class="col-lg-12">
            <h5 class="card-title">Add Products To Your Invoice
              <button href="#addProductModal" type="button" class="btn btn-link" data-bs-toggle="modal"> ADD PRODUCT </button>
              <a href="{% url 'create-creditnote' invoice.slug %}">ISSUE CREDIT NOTE</a>
            </h5>
            {% if products|length > 0 %}
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Unit Of Measure</th>
                    <th>Unit Price</th>
                    <th>Qty</th>
                    <th>Tax Rate</th>
                    <th>PxQ</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                <tr>
                  <td>{{product.product.name}}</td>
                  <td>{{product.product.unit_measure}}</td>
                  <td>{{product.price|intcomma}}</td>
                  <td>{{product.quantity|intcomma}}</td>
                  <td>{{product.product.tax_rate}}({{product.tax_total|intcomma}})</td>
                  <td>{{product.net_price|intcomma}}</td>
                  <td>{{product.total|intcomma}}</td>
                </tr>
                  {% endfor %}
                <tr class="bg-secondary text-light" style="font-weight: bold;">
                  <td colspan="4" style="text-align: center; ">TOTAL</td>
                  <td>{{tax|intcomma}}</td>
                  <td>{{net|intcomma}}</td>
                  <td>{{gross|intcomma}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
        </div>
        {% if invoice.finalized %}
          <h5 class="card-title">CREDIT NOTES
            
            <a href="{% url 'create-creditnote' invoice.slug %}" style="padding-right: 100px;">ISSUE</a>
          </h5>
          {% for inv in invoice.credit_notes.all %}
            <h4>{{inv}}</h4>
            {% endfor %}
        {% else %}
          <form class="" action="#" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  {{inv_form.remarks|as_crispy_field}}
                </div>
                <div class="row">
                  <div class="col-6">
                    {{inv_form.currency|as_crispy_field}}
                  </div>
                  <div class="col-6">
                    {{inv_form.payment_method|as_crispy_field}}
                  </div>
                </div>
              </div>
              <br>
                <button type="submit" class="btn btn-primary">CREATE INVOICE</button>
            </form>
 
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODALS MODALS -->
    <!-- Modals Start Here -->
    <div class="modal modal-sheet py-5" tabindex="-1" id="addProductModal">
    <div class="modal-dialog">
      <div class="modal-content rounded-6 shadow">
        <form method="post" novalidate enctype="multipart/form-data" class="p-3">
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          {% csrf_token %}
          {% include 'partials/partform.html' with form=prod_form %}
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
    <!-- Credit Note Modals Start Here -->
    <div class="modal modal-sheet py-5" tabindex="-1" id="addcreditModal">
      <div class="modal-dialog">
        <div class="modal-content rounded-6 shadow">
          <form method="post" novalidate enctype="multipart/form-data" class="p-3">
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            {% csrf_token %}
            {% include 'partials/partform.html' with form=prod_form %}
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
