{% extends 'partials/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block main %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if request.user.company1 %}
    <h1 class="h2">{{request.user.company1.name }}</h1>
    {% else %}
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
      </div>
    </div>
      <div class="btn-group me-2">
        <button href="#addCompanyModal" type="button" class="btn btn-primary" data-bs-toggle="modal">Add Company</button>
      </div>
    {% endif %}
  </div>  
  {% if request.user.company1 %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
                  <div class="card mb-5">
                    <h5 class="card-header">Clients</h5>
                    <div class="card-body">
                      <h5 class="card-title">Total Number of Clients: {{clients}}</h5>
                    </div>
                  </div>
                    <div class="card mb-5">
                      <h5 class="card-header">Invoices</h5>
                      <div class="card-body">
                        <h5 class="card-title">Total Number of Invoices: {{invoices}}</h5>
                        <h5 class="card-title">Paid Invoices: {{paidInvoices}}</h5>
                      </div>
                    </div>
                      <div class="card mb-5">
                        <h5 class="card-header">Credit & Debit Notes</h5>
                        <div class="card-body">
                          <h5 class="card-title">Total Number of Invoices: {{invoices}}</h5>
                          <h5 class="card-title">Paid Invoices: {{paidInvoices}}</h5>
                        </div>
                      </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="p-5">
          <img class=img-fluid  src="{% static 'assets/img/empty.svg' %}" alt="EFRISER">
        </div>
      </div>
    </div>
  </div>
{% endif %}

  <!-- MODALS MODALS -->
  <!-- Modals Start Here -->
  <div class="modal modal-sheet py-5" tabindex="-1" id="addCompanyModal">
    <div class="modal-dialog">
      <div class="modal-content rounded-6 shadow">
        <form class="" action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Add Company</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <div class="modal-body py-0">  
            <div class="row">
              <div class="col-6">
                {{form.name|as_crispy_field}}
              </div>
              <div class="col-6">
                {{form.companyLogo|as_crispy_field}}
              </div>
              <div class="row">
                
                  <div class="col-6">
                    {{form.tin|as_crispy_field}}
                  </div>
                  <div class="row">
                    <div class="col-6">
                      {{form.device_number|as_crispy_field}}
                    </div>
                  </div>
              </div>
            </div>
            
            {{form.}} 
          </div>
          <div class="modal-footer flex-column border-top-0">
            <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
