{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if request.user.company1 %}
    <h1 class="h2" style="text-align: center;">{{request.user.company1.name|upper }}</h1>
    {% else %}
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
      </div>
    </div>
      <div class="btn-group me-2">
        <button href="#addCompanyModal" type="button" class="btn btn-primary" data-bs-toggle="modal">Add Company</button>
      </div>
    {% endif %}
  </div>  
  {% if request.user.company1 %}
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="card border-0" style="width: 20rem;">
        <img src="{{ request.user.company1.companyLogo.url }}" style="object-fit: cover; background-size: cover; background-repeat: no-repeat;background-position: 50% 50%;" class="card-img-top" alt="...">
        <br>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">COMPANY DETAILS</h5>
              <small></small>
            </div>
            <small>E-Invoicing details</small>
          </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><span></span></h5>
              </div>
              <p class="mb-1">LOGGED IN AS: <span>{{ request.user }}</span> </p>
              <p class="mb-1">SHORT NAME: <span>{{ request.user.company1.short_name }}</span></p>
              <p class="mb-1">EMAIL: <span>{{ request.user.company1.email }}</span></p>
              <p class="mb-1">TELEPHONE: <span>{{ request.user.company1.telephone_number }}</span></p>
              <p class="mb-1">LOCATION: <span>{{ request.user.company1.location }}</span></p>
              <p class="mb-1">WEBSITE: <span>{{ request.user.company1.website }}</span></p>
              <p class="mb-1">TIN: <span>{{ request.user.company1.tin }}</span></p>
            </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">BANKING DETAILS</h5>
            <small></small>
          </div>
          <small>Banking Details to be included on the invoices.</small>
        </a>
        {% if banks %}
          {% for bank in banks %}
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><span>{{ forloop.counter }}. {{ bank|upper }}-{{ bank.currency }}</span></h5>
              </div>
              <p class="mb-1">A/C NAME: <span>{{ bank.account_name }}</span> </p>
              <p class="mb-1">A/C NUMBER: <span>{{ bank.account_number }}</span></p>
              <p class="mb-1">NUMBER: <span>{{ bank.account_number }}</span></p>
              <p class="mb-1">BRANCH: <span>{{ bank.branch }}</span></p>
              <p class="mb-1">SWIFT ADDRESS: <span>{{ bank.swift_address }}</span></p>
              <p class="mb-1">SWIFT CODE: <span>{{ bank.swift_code }}</span></p>
              <p class="mb-1">NUMBER: <span>{{ bank.account_number }}</span></p>
              <p class="mb-1">CURRENCY: <span>{{ bank.currency }}</span></p>
            </a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">COMPANY STATISTICS</h5>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 d-flex justify-content-between align-items-center">
              <div class="row">
                <div class="col-10"> CLIENTS:</div>
                <div class="col-2">
                  <span class="badge bg-primary rounded-pill">{{clients}}</span>
                </div>
              </div>
            </h5>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 d-flex justify-content-between align-items-center">
              <div class="row">
                <div class="col-10"> INVOICES:</div>
                <div class="col-2">
                  <span class="badge bg-primary rounded-pill">{{invoices}}</span>
                </div>
              </div>
            </h5>
          </div>
        </a>         
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 d-flex justify-content-between align-items-center">
              <div class="row">
                <div class="col-10"> CREDIT NOTES:</div>
                <div class="col-2">
                  <span class="badge bg-primary rounded-pill">{{credits}}</span>
                </div>
              </div>
            </h5>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- MODALS MODALS -->
  <!-- Modals Start Here -->
  <div class="modal modal-sheet py-5" tabindex="-1" id="addCompanyModal">
    <div class="modal-dialog">
      <div class="modal-content rounded-6 shadow">
        <form class="" action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Add A Company</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body py-0">  
            <div class="row">
              <div class="col-6">
                {{form.name|as_crispy_field}}
              </div>
              <div class="col-6">
                {{form.companyLogo|as_crispy_field}}
              </div>
              <div class="row">
                  <div class="col-6">
                    {{form.tin|as_crispy_field}}
                  </div>
                  <div class="col-6">
                    {{form.device_number|as_crispy_field}}
                  </div>
              </div>
              <div class="row">
                <div class="col-6">
                  {{form.email|as_crispy_field}}
                </div>
                <div class="col-6">
                  {{form.telephone_number|as_crispy_field}}
                </div>
            </div>              <div class="row">
              <div class="col-6">
                {{form.location|as_crispy_field}}
              </div>
              <div class="col-6">
                {{form.url|as_crispy_field}}
              </div>
          </div>              <div class="row">
           
            <div class="col-4">
              {{form.wht_exempt|as_crispy_field}}
            </div>
            <div class="col-4">
              {{form.vat_wht|as_crispy_field}}
            </div>
        </div>
            </div>
            {{form.nature|as_crispy_field}} 
          </div>
          <div class="modal-footer flex-column border-top-0">
            <button type="submit" class="btn btn-sm btn-primary w-100 mx-0 mb-2">ADD A COMPANY</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
