{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if request.user.company1 %}
    <h1 class="h2">{{request.user.company1.name }}</h1>
    {% else %}
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
      </div>
    </div>
      <div class="btn-group me-2">
        <button href="#addCompanyModal" type="button" class="btn btn-primary" data-bs-toggle="modal">Add Company</button>
      </div>
    {% endif %}
  </div>  
  {% if request.user.company1 %}
  <div class="row">
    <div class="col-lg-4 col-sm-1 col-md-1">
      <div class="card" style="width: 20rem;">
        <img src="{{ request.user.company1.companyLogo.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">COMPANY DASHBOARD</h5>
      
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Number Of Cleints: {{clients}}
          </li>
          <li class="list-group-item">Number Of Invoices: {{ invoices }}</li>
          <li class="list-group-item">Number Of Credit Notes: {{ credits }}</li>
        </ul>
      </div>
    </div>


  </div>

  {% endif %}

  <!-- MODALS MODALS -->
  <!-- Modals Start Here -->
  <div class="modal modal-sheet py-5" tabindex="-1" id="addCompanyModal">
    <div class="modal-dialog">
      <div class="modal-content rounded-6 shadow">
        <form class="" action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Add Company</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <div class="modal-body py-0">  
            <div class="row">
              <div class="col-6">
                {{form.name|as_crispy_field}}
              </div>
              <div class="col-6">
                {{form.companyLogo|as_crispy_field}}
              </div>
              <div class="row">
                
                  <div class="col-6">
                    {{form.tin|as_crispy_field}}
                  </div>
                  <div class="row">
                    <div class="col-6">
                      {{form.device_number|as_crispy_field}}
                    </div>
                  </div>
              </div>
            </div>
            
            {{form.}} 
          </div>
          <div class="modal-footer flex-column border-top-0">
            <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
