{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="">CREDIT NOTES</h4>
    <h4 class="">
        <a class="btn btn-sm btn-outline-success" href="{% url 'cn_list' %}" role="button">
        <span data-feather="list" style="color: green; width: 20px; height: 20px;"></span>
            CREDIT NOTES LIST
        </a>
    </h4>
</div>
{% if credits %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>CLIENT</th>
                <th>DATE</th>
                <th>REFERENCE</th>
                <th>FDN</th>
                <th>STATUS</th>
                <th>REASON</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cred in credits %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ cred.invoice.client  }}</td>
                <td>{{ cred.date_created|date:"M d, Y" }}</td>
                <td>{{ cred.reference }}</td>
                <td>
                    {% if cred.fdn %}
                        {{ cred.fdn }}
                    {% endif %}
                </td>
                <td>
                    {% if cred.approval == 'Approved' %}
                    <span class="badge rounded-pill bg-success">
                        {{ cred.approval }}
                    </span>
                    {% elif cred.approval == 'Voided' %}
                    <span class="badge rounded-pill bg-primary">
                        {{ cred.approval }}
                    </span>
                    {% elif cred.approval == 'Rejected' %}
                    <span class="badge rounded-pill bg-danger">
                        {{ cred.approval }}
                    </span>
                    {% else %}
                        {{ cred.approval }}
                    {% endif %}
                </td>
                <td>{{ cred.reason }}</td>
                <td>
                {% if cred.status %}
                <a class="btn btn-outline-success btn-sm" href="{% url 'creditnote_pdf' cred.fdn %}" role="button">
                <!-- <span data-feather="download" style="color: green; width: 20px; height: 20px;"></span> -->
                    PDF
                </a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <h3>Start by Adding First Invoice</h3>
        <img class=img-fluid src="{% static 'assets/img/empty.svg' %}" alt="EFRISER">
    </div>
    <div class="col-lg-3">
    </div>
</div>
{% endif %}
{% endblock %}